doctype html
html
  head
    title Login
  body
    form(action="/login" method="POST")
      input(placeholder='enter username' name='username')
      input(placeholder='enter password' name='password')
      button Submit
