doctype html
html
  head
    title Login
  body
    form(action="/login" method="POST")
      input(placeholder='enter username' name='username')
      input(type='password' placeholder='enter password' name='password')
      button Submit
    if wrongCredentials
      p Wrong credentials, please try again
